
* {
    font-family: 'Urbanist', sans-serif;

}
brand {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

ul {
list-style-type: none;
margin: 0;
padding: 0;
}

li {
margin-bottom: 5px;
}

a {
text-decoration: none;
color: black;
}

img {
  margin-top: .15rem;
}

h1 {
  font-size: 2rem;
  font-family: 'Outfit', sans-serif; /* Assuming 'Outfit' is the font from Google Fonts */
}