* {
    font-family: monospace;
  }



  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    margin-bottom: 5px;
  }

  a {
    text-decoration: none;
    color: black;
  }

  a:visited {
    color: black;
  }