* {
    font-family: monospace;
  }

  #search {
    margin-bottom: 10px;
    outline: none;
    border: 1px solid #ccc;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    margin-bottom: 5px;
  }

  a {
    text-decoration: none;
    color: black;
  }

  a:visited {
    color: black;
  }

  /* Add a class to highlight the selected link */
  .selected {
    background-color: #ddd;
  }

  .hidden {
    display: none;
  }