@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

* {
  /* font-family: "Urbanist", sans-serif; */
  font-family: monospace;
}

#contactList {
  
  width: 100%;
  /* margin: auto; */
}
#row {
  display: flex;
}

#filterInput {
  margin-bottom: 10px;
  outline: none;
    border: 1px solid #ccc;
}

.contactItem {
  margin-bottom: 5px;
}
button {
  margin-left: 5px;
  height: 29px;
}
input {
  width: 200px !important;
  margin-bottom: 10px;
}
